* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter-Medium, Helvetica, sans-serif;
    font-size: 14px;
}
/* body:not(.background-video) {
    z-index: -3;
} */

h2:not(.title) {
    font-size: 25px;
    text-align: center;
    color: var(--heading);
    padding: 30px 0;
}

p:not(.title) {
    font-size: 18px;
    text-align: center;
    color: var(--text-grey);
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --doBlue: #006aff;
    --heading: #01214e;
    --text-grey: #706f6f;
    --bg-grey: #f3f3f3;
}
.wrapper {
    max-width: 100%;
    padding: 30px 10%;
}
header.wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0px;

    background-color: white;
    width: 100%;
    z-index: 5;
}
header .top-nav {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;

    grid-gap: 2vw;

    height: 65px;
}
.logo-container {
    display: grid;
    align-items: center;
}

.logo-container img {
    width: 172px;
}

.link-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2%;
}

.link-section li {
    display: inline-block;
    display: grid;
    place-items: center;

    width: 70px;
    height: 60%;
}
.drop-down {
    border: none;
    font-size: 14px;
}

.sign-up {
    border: 2px solid var(--doBlue);
    border-radius: 5px;
}

/* DESCRIPTION & CTA */
main {
    position: relative;
    top: 65px;
}
.description {
    height: fit-content;

    background-color: #006aff60;

    display: grid;
    place-items: center;
}
.description .wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 100%;

    gap: 3%;

    place-items: center stretch;

    height: 100%;
}

.information {
    height: 100%;
    padding: 5%;

    display: grid;
    place-items: center;
}
.information .title {
    font-size: 44px;
    color: white;
}
.information p {
    font-size: 24px;
    color: white;
    text-align: left;
}

.cta .container {
    display: grid;
    grid-template-rows: repeat(4, auto);

    background-color: white;

    border-radius: 5px;

    padding: 5% 10%;
}
.cta form {
    display: grid;
    place-items: center;
}
.google {
    display: inline-block;
    position: relative;

    width: 100%;
}

.google img {
    width: 25px;
    position: absolute;
    left: 0;
    bottom: 6px;
    margin-left: 2%;
}

.google span {
    display: grid;
    place-content: center;
}

.cta .container h3 {
    font-size: 30px;
    text-align: center;
    color: var(--heading);
}

.cta .container span.blue-text {
    font-size: 25px;
}
.container span {
    display: inline-block;
    text-align: center;
}
.blue-text {
    color: var(--doBlue);
}
.email-container,
.password-container {
    display: grid;
    place-items: center;
    width: 100%;
}
.cta input,
.cta button {
    width: 80%;
    height: 40px;

    border: 2px solid lightgray;
    border-radius: 2px;

    background: white;

    box-shadow: 1px 1px #00000034;

    margin: 10px 0;
}
.cta .container .create-your-account {
    background: var(--doBlue);

    color: white;
    font-weight: 700;
    border: none;
}
.t-and-c {
    text-align: center;
}

/* BACKGROUND VIDEO */
.background-video {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -1;

    overflow: hidden;
}

/* PARTNER SECTION */

.partners {
    display: grid;

    place-items: center;

    padding-top: 5%;
    padding-bottom: 5%;

    background-color: #f3f3f3;
}

.partners h2 {
    text-align: center;

    color: var(--text-grey);

    text-transform: capitalize;

    font-size: 20px;
}

.partners .logos-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    justify-content: space-between;

    width: 100%;
}
.partners .logos-section .image {
    display: grid;
    place-items: center;
}

.partners .customer-stories {
    display: grid;
    place-items: center;
    color: var(--doBlue);
}

/* PRODUCT STORY */
.title {
    grid-area: title;
}
.list {
    grid-area: list;
}
.product-info {
    grid-area: product-info;
    padding-left: 40px;
}
.product-story .container {
    display: grid;
    grid-template:
        "title title title" auto
        "list product-info product-info" auto
        "list product-info product-info" auto/
        auto auto auto;
}

.product-story .list ul {
    list-style-type: none;
    border-left: 1px var(--text-grey) solid;
    padding-left: 0.5em;
    margin-left: 5em;
    color: var(--text-grey);
}

.product-story .list ul li {
    padding-bottom: 1em;
}

.product-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    gap: 1em;
}

.product-info h3 {
    color: var(--heading);
    font-size: 17px;

    padding: 0.7em 0;
}
.product-info p {
    text-align: left;
}

/* SCROLL AREA */
.image-scroll {
    display: grid;
    grid-auto-rows: auto;

    place-items: center;

    background-color: var(--bg-grey);
}
.image-scroll img {
    max-width: 500px;
}
.image-scroll p {
    padding: 2em 0;
}

/* FEATURES */
.features .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: stretch;
    gap: 2em;
}

.feature {
    display: grid;
    grid-auto-rows: auto;
    gap: 1em;
}

.features p {
    text-align: left;
}

/* REGIONS */
.region {
    background: linear-gradient(180deg, #0048ff 0%, #0031ad 80%);
}

.region .table {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;
}

.region .table .row {
    display: grid;
    grid-template-columns: repeat(3, auto);

    border-bottom: 1px white solid;
    margin: 0 20px;

    padding: 5px;
}

.region .table .test-speed {
    text-align: right;
}
.region .table .test-speed a {
    color: rgb(64, 179, 224);
}
.region h2 {
    color: white;
}

.region .table p {
    color: white;
    font-size: 14px;
}

.region .table .code {
    font-weight: 550;
    font-size: larger;
}

/* CREATE ACCOUNT */

.create-account {
    background: linear-gradient(180deg, #0048ff 0%, #0031ad 80%);

    display: grid;
    place-items: center;
}
.create-account h2 {
    color: white;
}
.create-account button {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: var(--doBlue);
    font-weight: bolder;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;

    background-color: #001f6e;
}

footer .text {
    text-align: left;
    font-size: 12px;
    padding: 2px 0;
}

footer .text.copyright {
    font-weight: bold;
}
.socials {
    display: grid;
    grid-template-columns: repeat(5, 50px);
}

.socials img {
    width: 30px;
}

footer .extra-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

footer .extra-links p {
    color: white;
    text-align: left;
}

footer .extra-links a {
    display: block;
    color: rgb(194, 194, 194);
    padding: 5px 0;
}
